* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Public Sans', sans-serif;
  font-size: 10px;
}

header {
  background-color: #fff;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 15rem;
}

.menu a {
  position: relative;
  padding: 2rem 0;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: hsla(233, 8%, 62%, 0.562);
  margin: 0 1.5rem;
  font-size: 1.3rem;
  border: 0.3rem solid transparent;
}
.menu a::after {
  position: absolute;
  content: '';
  height: 0.5rem;
  width: 100%;
  top: 5.4rem;
  left: 0;

  background: linear-gradient(
    90deg,
    rgba(133, 225, 163, 1) 35%,
    rgba(129, 213, 223, 1) 100%
  );
  opacity: 0;
  transition: all 0.2s linear;
}
.menu a:hover {
  color: #2d314ebb;
}
.menu a:hover::after {
  opacity: 1;
}
.btn {
  outline: none;
  border: 0;
  background: rgb(133, 225, 163);
  background: linear-gradient(
    90deg,
    rgba(133, 225, 163, 1) 35%,
    rgba(129, 213, 223, 1) 100%
  );
  padding: 1rem 2rem;
  font-weight: bold;
  color: #fff;
  border-radius: 50px;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
}
.heading-info {
  background: #fafafa;
}
.container {
  max-width: 160rem;
  margin: 0 auto;
}
.container-head {
  display: flex;
}
.bg-img {
  flex: 3;
  height: 60rem;
  position: relative;
}
.bg-img::before {
  content: '';
  position: absolute;
  height: 100%;
  background-image: url('/images/bg-intro-desktop.svg');
  background-repeat: no-repeat;
  width: 100%;
  background-size: 120%;
  background-position: 0% 70%;
}
.bg-img::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 130%;
  background-image: url('/images/image-mockups.png');
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: 150% 100%;
}
.info-section {
  flex: 2;
  order: -1;
}
.container-pad-xy {
  padding: 10rem 15rem;
}
.info-section h1 {
  font-weight: 300;
  font-size: 5.5rem;
  margin-bottom: 2.5rem;
}
.info-section p {
  text-align: left;
  color: rgba(128, 128, 128, 0.788);
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  line-height: 3rem;
}
.info-section .btn {
  margin-bottom: 2rem;
}
.details {
  background-color: #f4f5f7;
}
.details-container {
  display: flex;
  flex-direction: column;
}
.details-container h2 {
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 2rem;
}
.details-container p {
  width: 50%;
  color: grey;
  line-height: 3rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.details-container .cards {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 24rem;
  max-width: 29rem;
  padding-right: 2rem;
}
.card img {
  height: 8rem;
  width: 8rem;
  margin-bottom: 3rem;
}
.card h3 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 3rem;
}
.card p {
  width: 100%;
  color: grey;
  line-height: 3rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.article-section {
  background: #fafafa;
}

.article-details {
  display: flex;
  flex-direction: column;
}
.article-details h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
  font-weight: normal;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.articles .article-card {
  flex: 1;
  display: flex;
  min-width: 24rem;
  max-width: 29rem;
  flex-direction: column;
  margin-right: 2rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.article-card:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
}
.article-card img {
  height: 18rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}
.article-card h6 {
  color: rgba(128, 128, 128, 0.644);
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding: 0 2rem;
}
.article-card h3 {
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0 2rem;
}
.article-card p {
  padding: 0 2rem;

  color: rgba(128, 128, 128, 0.733);
  line-height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
footer {
  background-color: #2d314e;
}
.footer-container {
  display: flex;
  justify-content: center;
  padding: 3rem 15rem;
}

.social-handle img {
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.footer-logo {
  width: 15rem;
  padding: 0;
  margin: 0;
}
.social-icon:hover {
  filter: invert(0.21) sepia(0.5) saturate(12.8) hue-rotate(61.2deg)
    brightness(0.82);
}

.footer-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 3;
}
.footer-links a {
  display: inline-block;
  text-decoration: none;
  color: #f4f5f7;
  padding: 1rem;
  font-size: 1.5rem;
}
.footer-links a:hover {
  color: #69c689;
}
.footer-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.footer-btn {
  flex: 2;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-btn p {
  margin-top: 2.2rem;
  color: gray;
  font-size: 1.4rem;
}

/* new toggle button */

nav label {
  display: none;
  width: 26px;
}
#toggle {
  display: none;
}
.toggle-btn {
  background-image: url(./images/icon-hamburger.svg);
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;
  padding-right: 4rem;
  margin-right: 5rem;
}

@media (max-width: 1020px) {
  .container {
    margin: 0;
  }
  .container-pad-xy {
    padding: 2.5rem 2rem;
  }
  nav {
    padding: 2.5rem 4rem;
  }
  .container-head {
    display: flex;
    flex-direction: column;
  }

  nav label {
    display: block;
    cursor: pointer;
  }
  nav .btn {
    display: none;
    position: relative;
  }
  .menu {
    position: absolute;
    top: 110%;
    right: 5%;
    background-color: #ffffff;
    text-align: center;
    width: 90%;
    height: 300%;
    z-index: 10;
    display: none;
    border-radius: 0.4rem;
    box-shadow: 0 25rem 15rem 15rem rgba(0, 0, 0, 0.5);
  }
  .menu a {
    display: block;
    margin: 1.5rem;
    color: #2d314e;
    padding: 0;
  }
  #toggle:checked ~ .menu {
    display: block;
  }
  #toggle:checked + .container-head {
    display: flex;
    flex-direction: column;
  }
  #toggle:checked ~ label .toggle-btn {
    background-image: url(./images/icon-close.svg);
    background-repeat: no-repeat;
  }
  .menu a:hover::after {
    opacity: 0;
  }
  .bg-img {
    order: -1;
    min-height: 25rem;
    position: relative;
    background-image: url('/images/bg-intro-mobile.svg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bg-img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/images/image-mockups.png');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 50% 85%;
  }
  .info-section {
    text-align: center;
  }
  .info-section h1 {
    font-size: 4rem;
  }
  .info-section p {
    font-size: 1.5rem;
  }
  .details-container {
    text-align: center;
  }
  .details-container h2 {
    font-size: 4rem;
  }
  .details-container p {
    width: 100%;

    font-size: 1.5rem;
  }
  .cards {
    text-align: center;
  }

  .cards .card {
    max-width: 100%;
    padding-right: 0;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .card p {
    max-width: 40rem;
  }
  .article-details {
    text-align: center;
  }
  .article-details h2 {
    font-size: 3rem;
  }
  .articles {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .articles .article-card {
    max-width: 33rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    text-align: left;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
  }

  .social-handle {
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .footer-menu {
    display: flex;
    flex-direction: column;
  }
  .footer-btn {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1120px) {
  .social-handle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    margin-right: 10rem;
  }
  .footer-links {
    height: 15rem;
    margin-top: 2rem;
  }
}
